<h2>Your Shared Jobs</h2>


    <%= current_user.jobs.map do |tool| %>
    <%= byebug %>
      <%= link_to job.name, user_job_path(job) %>
      <%= link_to job.name, edit_job_path %>
    <% end %>
<%= link_to "Add a job", new_job_path %>
