<div class="main">

  <h1 id=greeting>Welcome, <%=current_user.username%></h1>

  <h2>Your Shared Jobs</h2>

    <%= current_user.jobs.map do |job| %>
      <h3><%=link_to job.job_title, job_path(job) %> at <%= job.company %> </h3>
    <% end %>

    <br>
      <%= link_to "Add a job", new_job_path %>
</div>
